<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" backupGlobals="false" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
	<exclude>
		<file>src/autoload.php</file>
	</exclude>
    <report>
      <clover outputFile="./coverage/result.xml"/>
      <html outputDirectory="./coverage/result"/>
      <text outputFile="./coverage/result.txt"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Apps">
      <file>tests/appsTest.php</file>
    </testsuite>
    <testsuite name="Architecture">
      <file>tests/architecturesTest.php</file>
    </testsuite>
    <testsuite name="Browsers">
      <file>tests/browsersTest.php</file>
    </testsuite>
    <!--<testsuite name="Categories">
      <file>tests/categoriesTest.php</file>
    </testsuite>-->
    <testsuite name="Crawlers">
      <file>tests/crawlersTest.php</file>
    </testsuite>
    <testsuite name="Devices">
      <file>tests/devicesTest.php</file>
    </testsuite>
   <testsuite name="Engines">
      <file>tests/enginesTest.php</file>
    </testsuite>
    <!--<testsuite name="Languages">
      <file>tests/languagesTest.php</file>
    </testsuite>-->
    <testsuite name="Platforms">
      <file>tests/platformsTest.php</file>
    </testsuite>
    <!--<testsuite name="Urls">
      <file>tests/urlsTest.php</file>
    </testsuite>-->
  </testsuites>
  <logging/>
</phpunit>
